*.vcd
*_sim
*.backup
*.backup2
**/neelchip_safety/
**/coverage_test/obj_dir/
*.vcd
*.backup3
**/masked_sbox_formal/
*.backup3
**/masked_sbox_formal/
**/coverage_test/
**/trng_coverage/
**/kavach_auth_formal/
**/offline_formal/
**/replay_formal/
**/kavach_auth_formal/
**/offline_formal/
**/replay_formal/
**/kavach_auth_formal/
**/offline_formal/
**/replay_formal/
**/kavach_auth_formal/
**/offline_formal/
**/replay_formal/
**/kavach_bist_formal/
**/provenance_formal/
**/puf_stabilizer_formal/
*.backup*
**/kavach_top_check
**/*_sim
**/debug_sim*
synchk
**/__pycache__/
